.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
a {
  text-decoration: none;
}
.hero {
  padding: 200px 15px;
  background-color: #576f35;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  fill: #fbfbfb;
}
.btn-menu {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
}
.icon-burger {
  stroke: #fbfbfb;
}
